body {
	background-image: url('white_wall_hash.png');
}

.content {
	width: 960px;
	margin: auto;
}

.title {
	font-size: 32px;
	font-weight: bold;
}

.controls {
	height: 50px;
	width: 275px;
	padding-top: 20px;
}

.unemployment-button {
	background-color: red;
	height: 30px;
	width: 125px;
	float: left;
	border-radius: 15px;
}

.gdp-button {
	background-color: green;
	height: 30px;
	width: 125px;
	float: right;
	border-radius: 15px;
}

.gdp-button p {
	margin: 0;
	text-align: center;
	vertical-align: middle;
	line-height: 30px;
	font-size: 10px;
	color: white;
	font-weight: bold;
}

.unemployment-button p {
	margin: 0;
	text-align: center;
	vertical-align: middle;
	line-height: 30px;
	font-size: 10px;
	color: white;
	font-weight: bold;
}

body {
  font: 10px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis path {
  display: none;
}

.line {
  fill: none;
  stroke-width: 1.5px;
}

.metadata {
	width: 960px;
	margin-top: 30px;
}

.citations {
	float: left;
}

.citations p {
	margin: 0;
}

.author {
	font-size: 10px;
	float: right;
}